/* importação das fonte Poppins */
@import url('https://fonts.googleapis.com/css2?family=Poppins&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

*:focus,
*:active {
    outline: none !important;
    -webkit-tap-highlight-color: transparent;
}

html,
body {
    display: grid;
    height: 100%;
    width: 100%;
    font-family: 'Poppins', sans-serif;
    place-items: center;
    background: linear-gradient(315deg, #ffffff, #d1e1ec);
}

.container {
    display: inline-flex;
}

.container .icon {
    position: relative;
    background-color: #fff;
    border-radius: 50%;
    padding: 15px;
    margin: 10px;
    width: 50px;
    height: 50px;
    font-size: 18px;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    box-shadow: 0 10px 10px rgba(0, 0, 0, 0.1);
    cursor: pointer;

    transition: all 0.2s cubic-bezier(0.68, -0.55, 0.265, 1.55);
}

.container .tooltip {
    position: absolute;
    top: 0;
    font-size: 14px;
    background-color: #fff;
    padding: 5px 8px;
    border-radius: 5px;

    box-shadow: 0 10px 10px rgba(0, 0, 0, 0.1);
    opacity: 0;
    pointer-events: none;
    
    transition: all 0.2s cubic-bezier(0.68, -0.55, 0.265, 1.55);
}

.container .icon:hover .tooltip {
    top: -45px;
    opacity: 1;
    visibility: visible;
    pointer-events: auto;
}

.container .tooltip::before {
    position: absolute;
    content: '';
    height: 8px;
    width: 8px;
    background-color: #fff;
    bottom: -3px;
    left: 50%;
    transform: translate(-50%) rotate(45deg);
    transition: all 0.3s cubic-bezier(0.68, -0.55, 0.265, 1.55);
}

.container .icon:hover span,
.container .icon:hover .tooltip {
    text-shadow: 0px -1px 0px rgba(0, 0, 0, 0.1);
}

.container .facebook:hover,
.container .facebook:hover .tooltip,
.container .facebook:hover .tooltip::before {
    background-color: #3b5999;
    color: #fff;
}

.container .twitter:hover,
.container .twitter:hover .tooltip,
.container .twitter:hover .tooltip::before {
    background-color: #4ec1f6;
    color: #fff;
}

.container .instagram:hover,
.container .instagram:hover .tooltip,
.container .instaggram:hover .tooltip::before {
    background-color: #e1306c;
    color: #fff;
}

.container .github:hover,
.container .github:hover .tooltip,
.container .github:hover .tooltip::before {
    background-color: #333;
    color: #fff;
}

.container .youtube:hover,
.container .youtube:hover .tooltip,
.container .youtube:hover .tooltip::before {
    background-color: #de463b;
    color: #fff;
}